.pageContainer
{
    width: 100%;
    height: 200px;
    display:flex;
    flex-direction: row;
}
.container
{
    width: 100%;
    height: 140px;
}
.iconContainer
{
    display:flex;
    flex-direction: column;
}
.row 
{
    display: flex;
    flex-direction: row;
}
.icon
{
    display: block;
    color: #fff;
    background-color: darkblue;
    width: 70px;
    height: 70px;
    margin-right: 10px;
    margin-left: 10px; 
}


