.button
{
    display: block;
    color: #fff;
    background-color: darkblue;
    width: 150px;
    height: 70px;
    margin-right: 10px;
    margin-left: 10px;

}

.center
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.rowClass
{
    display: flex;
    align-items: center;
    justify-content: center;
}